In [1]:
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import sklearn
from nltk.stem import PorterStemmer
pst = PorterStemmer()
from nltk.corpus import stopwords
import re

In [2]:
data = pd.read_csv(r"C:\Users\Nishant\Desktop\tasks and projects of data science\resume projects\Sentiment analysis\sentiment\Sentiment.csv", encoding='latin')

In [3]:
data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [4]:
data.columns = ['Sentiment','Id','Date','Query','Name','Text']
data.head()

,Sentiment,Id,Date,Query,Name,Text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
data['Sentiment'].unique()

array([0, 4], dtype=int64)

In [6]:
data.shape

(1599999, 6)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Sentiment  1599999 non-null  int64
 1   Id         1599999 non-null  int64
 2   Date       1599999 non-null  object
 3   Query      1599999 non-null  object
 4   Name       1599999 non-null  object
 5   Text       1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [8]:
data.drop(['Id','Date','Query','Name'],axis=1,inplace=True)

In [9]:
data.head()

   Sentiment                                               Text
0          0  is upset that he can't update his Facebook by ...
1          0  @Kenichan I dived many times for the ball. Man...
2          0    my whole body feels itchy and like its on fire
3          0  @nationwideclass no, it's not behaving at all....
4          0                      @Kwesidei not the whole crew

In [10]:
tokens =[]
for i in range(0,1599999):
    Text = re.sub('@\S+|https?:\S|[^A-Za-z0-9]+',' ',data['Text'][i])
    Text = Text.lower()
    Text = Text.split()
    Text = [pst.stem(word) for word in Text if word not in (stopwords.words('english'))]
    Text = ' '.join(Text)
    tokens.append(Text)

In [11]:
data.Text[0]

"is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"

In [12]:
tokens[0]

'upset updat facebook text might cri result school today also blah'

In [13]:
data['cleaned'] = tokens

In [14]:
data.head()

,Sentiment,Text,cleaned
0,0,is upset that he can't update his Facebook by ...,upset updat facebook text might cri result sch...
1,0,@Kenichan I dived many times for the ball. Man...,dive mani time ball manag save 50 rest go bound
2,0,my whole body feels itchy and like its on fire,whole bodi feel itchi like fire
3,0,"@nationwideclass no, it's not behaving at all....",behav mad see
4,0,@Kwesidei not the whole crew,whole crew

In [15]:
data.drop(['Text'],axis=1,inplace=True)

In [16]:
data.head()

   Sentiment                                            cleaned
0          0  upset updat facebook text might cri result sch...
1          0    dive mani time ball manag save 50 rest go bound
2          0                    whole bodi feel itchi like fire
3          0                                      behav mad see
4          0                                         whole crew

In [17]:
data['Sentiment']

0          0
1          0
2          0
3          0
4          0
          ..
1599994    4
1599995    4
1599996    4
1599997    4
1599998    4
Name: Sentiment, Length: 1599999, dtype: int64

In [18]:
map = {0:'Negative',4:'Positive'}

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data['cleaned'],data['Sentiment'],test_size=0.20, random_state=0)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()
x_train = vector.fit_transform(x_train)
x_test = vector.transform(x_test)

# Model training

# Bernouli

In [21]:
from sklearn.naive_bayes import BernoulliNB
nb = BernoulliNB()
nb.fit(x_train,y_train)

BernoulliNB()

In [22]:
y_pred = nb.predict(x_test)

In [23]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred,y_test)
print(cm)

[[123045  38964]
 [ 37043 120948]]

In [24]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_pred,y_test)
print(ac)

0.762478125